<div style="width:65%; margin:auto;">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">审批中</a></li>
            <li><a href="#tab2" data-toggle="tab">被驳回</a></li>
            <li><a href="#tab3" data-toggle="tab">已通过</a></li>
            <li><a href="#tab4" data-toggle="tab">已结束</a></li>
            <a class="btn btn-primary" href="<%= add_expense_url %>" style="float:right">提交报销单</a>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>编号</th>
                        <th>金额</th>
                        <th>借支</th>
                        <th>核销</th>
                        <th>退补</th>
                        <th>阶段</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <% @ManageInit.each do |ex| %>
                            <tr>
                                <td><%= ex.id %></td>
                                <td><%= ex.money %></td>
                                <td><%= ex.borrow %></td>
                                <td><%= ex.realoffs %></td>
                                <td><%= ex.spread %></td>
                                <td><b class="text-info"><%= ex.step_realname %></b> 审核中...</td>
                                <td><a href="/expense/show/<%= ex.id %>">查看</a></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            
            </div>
            <div class="tab-pane" id="tab2">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>编号</th>
                        <th>金额</th>
                        <th>借支</th>
                        <th>核销</th>
                        <th>退补</th>
                        <th>阶段</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <% @ManageReject.each do |ex| %>
                            <tr>
                                <td><%= ex.id %></td>
                                <td><%= ex.money %></td>
                                <td><%= ex.borrow %></td>
                                <td><%= ex.realoffs %></td>
                                <td><%= ex.spread %></td>
                                <td><b class="text-error">驳回</b></td>
                                <td><a href="/expense/show/<%= ex.id %>">查看</a></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tab3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>编号</th>
                        <th>金额</th>
                        <th>借支</th>
                        <th>核销</th>
                        <th>退补</th>
                        <th>阶段</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <% @ManageChecked.each do |ex| %>
                            <tr>
                                <td><%= ex.id %></td>
                                <td><%= ex.money %></td>
                                <td><%= ex.borrow %></td>
                                <td><%= ex.realoffs %></td>
                                <td><%= ex.spread %></td>
                                <td><b class="text-success">通过</b></td>
                                <td><a href="/expense/show/<%= ex.id %>" target="_blank">查看</a></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tab4">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>编号</th>
                        <th>金额</th>
                        <th>借支</th>
                        <th>核销</th>
                        <th>退补</th>
                        <th>阶段</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <% @ManageComplete.each do |ex| %>
                            <tr>
                                <td><%= ex.id %></td>
                                <td><%= ex.money %></td>
                                <td><%= ex.borrow %></td>
                                <td><%= ex.realoffs %></td>
                                <td><%= ex.spread %></td>
                                <td><b class="text-success">已完成</b></td>
                                <td>
                                    <a href="/expense/show/<%= ex.id %>" target="_blank">查看</a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
