<!DOCTYPE html>
<html>
<head>
  <title>Adeaz Expense System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#F2F9FD;">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">互众报销系统</a>
                <div class="nav-collapse">
                    <% if session.has_key?("realname") %>
                        <ul class="nav">
                            <li><a href="<%= root_url %>">我的报销</a></li>
                            <li><a href="/expense/myManage">我的批示</a></li>
                        </ul>
                    <% end %>
                </div>

                <div class="brand" style="float:right;">
                    Hello!
                    <% if session.has_key?("realname") %>
                        <%= session["realname"] %>
                        <a href="<%= logout_url %>" style="font-size:12px; color:#FFF;">退出</a>
                    <% else %>
                        浪子
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <div id="container" style="margin-top: 50px; width: 100%">
        <%= yield %>
    </div>
    
    <footer style="text-align:center;">
        <p>Adeaz Expense System By Tech Department & Developed By Rails & Lucky on Ruby ^V^</p>
    </footer>
    
    <div id="popup-msg" class="alert" style="display:none"></div>
    </div>
    
    <% if defined? @msg and @msg.has_key?("info") %>
    <script>
        $(function(){
            popup_msg("<%= @msg["info"] %>", "<%= @msg["type"] %>");
        });
    </script>
    <% end %>

</body>
</html>
